h1{
    text-align: center;
    font-family:cursive;
    font-style: oblique;
    margin: 5vw 5vh;
    padding: 10vw;
}

.create-food{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 18px;
    padding: 2vh 3vw;
    margin: 5vh 10vw;
    background-color: rgb(144, 219, 238);
    font-family:cursive;
}

.new-title{
    display: flex;
    justify-content: center;


}

.add-button{
    background-color: rgb(94, 228, 94);
    color: indigo;
    border-radius: 2.5rem;
    height: 40px;
    width: 150px;
    margin: 2vh;
}

.search-bar{
    background-color: rgb(144, 219, 238);
    display: flex;
    justify-content:space;
    padding: 1vw;

}